<div class="row">

    <form class="col s12">
            <div class="row">
                <div class="input-field col s8 right">
                <p>Brand Name is: {{ message }}</p>
                <input v-model="message" placeholder="Brand Name" id="brandName" type="text" class="validate" required>      
            </div>
            <div class="row">
                <div class="col s8 right">
                <label id="imageUpload" for="fileinput">Image upload</label>  
                <input type="file" id="fileinput" id="uploadfiles" multiple="multiple" accept="image/*" />
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                <p>Message is: {{ maxUsers }}</p> 
                <input v-model.number="maxUsers" placeholder="Maximum number of users" name="maxUsers" id="maxUsers" type="number" class="validate" required>   
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                <p>Message is: {{ maxStories }}</p> 
                <input v-model.number="maxStories" placeholder="Maximum number of stories" name="maxStories" id="maxStoriess" type="number" class="validate" required>     
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                <p>Message is: {{ maxSurveys }}</p> 
                <input v-model.number="maxSurveys" placeholder="Maximum number of surveys" name="maxSurveys" id="maxSurveys" type="number" class="validate" required>    
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                <p>Message is: {{ maxDocs }}</p>  
                <input v-model.number="maxDocs" placeholder="Maximum number of documents" name="maxDocs" id="maxDocs" type="number" class="validate" required>      
            </div>
        </form>

</div>
<button class="btn waves-effect waves-light right" type="submit" name="action" >Submit</button>
<br>


