<div class="row">
    <form class="col s12">
            <div class="row">
                <div class="input-field col s8 right">
                    <p>Brand Name is: {{ brandName }}</p>
                    <input v-model="brandName" placeholder="Brand Name" name="brandName" id="brandName" type="text" class="validate" required>   
                </div>   
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                    <p>Maximum number of users is: {{ maxUsers }}</p> 
                    <input v-model.number="maxUsers" placeholder="Maximum number of users" name="maxUsers" id="maxUsers" type="number" class="validate" required>  
                </div> 
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                    <p>Maximum number of stories is: {{ maxStories }}</p> 
                    <input v-model.number="maxStories" placeholder="Maximum number of stories" name="maxStories" id="maxStoriess" type="number" class="validate" required>     
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                    <p>Maximum number of surveys is: {{ maxSurveys }}</p> 
                    <input v-model.number="maxSurveys" placeholder="Maximum number of surveys" name="maxSurveys" id="maxSurveys" type="number" class="validate" required>    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8 right">
                    <p>Maximum number of documents is: {{ maxDocs }}</p>  
                    <input v-model.number="maxDocs" placeholder="Maximum number of documents" name="maxDocs" id="maxDocs" type="number" class="validate" required>      
                </div>
            </div>
        </form>

</div>
<button class="btn waves-effect waves-light right" type="submit" name="action" id="submit" v-on:click="submit($event)">Submit</button>
<br>


