<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <!--load the css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css">
        <link type="text/css" rel="stylesheet" href="css/mycss.css">
    </head>
    </body>
    <!--start of the navigation bar-->
    <% include ./partials/navigation %>
    <!--end of navigation-->
        
    <h1>Admin System</h1>
    <h3 class="center">Form</h3>
    <!--form-->
    <% include ./partials/form %>
    <!--end of form-->
    <br>
    <!--progress bar-->
    <% include ./partials/progressBar %>
    
    

    <!--link the javascript files-->
    <script src="js/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="js/materialize.js" type="text/javascript"></script>
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="js/myjavascript.js" type="text/javascript"></script>
    </body>
</html>