body {
    color: black;
    font-family: serif;
    background: url("../images/background.jpg");
    background-color: rgba(255, 255, 255, 0.01);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-size: 4.2vw;
}

.input-field {
    margin-top: -2.2vw;
}

.btn, .btn:hover, .btn:active, .btn:valid {
    margin: 0 5vw 5vw 0;
    background-color: cornflowerblue;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid cornflowerblue;
    box-shadow: 0 1px 0 0 cornflowerblue;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid cornflowerblue;
    box-shadow: 0 1px 0 0 cornflowerblue
}

/* label underline focus color for email */
.input-field input[type=text]:focus {
    border-bottom: 1px solid cornflowerblue;
    box-shadow: 0 1px 0 0 cornflowerblue;
}
.input-field input[type=number].invalid {
    border-bottom: 1px solid cornflowerblue;
    box-shadow: 0 1px 0 0 cornflowerblue;
}

.input-field input[type=number].valid {
    border-bottom: 1px solid cornflowerblue;
    box-shadow: 0 1px 0 0 cornflowerblue
}

/* label underline focus color for email */
.input-field input[type=number]:focus {
    border-bottom: 1px solid cornflowerblue;
    box-shadow: 0 1px 0 0 cornflowerblue;
}


