body {
    color: black;
    font-family: serif;
    background: url("../images/background.jpg");
    background-color: rgba(255, 255, 255, 0.01);
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    font-size: 4.2vw;
}

.input-field {
    margin-top: -2.2vw;
}

.btn, .btn:hover, .btn:active, .btn:valid {
    margin: 0 5vw 5vw 0;
    background-color: cornflowerblue;
}


